#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}

	to {
		bottom: 0px;
		opacity: 1
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

.box {
	overflow: auto;
	max-height: 400px;
}

.btn.btn-primary {
	background-color: #4267b2 !important;
}

.card {
	position: relative;
	width: 100%;
	height: 63px;
	background-color: #ffffff;
	border-radius: 8px;
	overflow: hidden;
}

.card .rectangle {
	position: absolute;
	width: 7px;
	height: 77px;
	top: -7px;
	left: 0;
	background-color: #4267b2;
}

.card .group {
	position: absolute;
	width: 100%;
	height: 17px;
	top: 23px;
	left: 19px;
}

.card .text-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: var(--x-4d-4d-4d);
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

button a {
	color: white;
	text-decoration: none;
}

.btn.btn-primary:hover {
	background-color: #376edf !important;
}

.card.mb-2:hover {
	background-color: #fbfafa;
}

button.btn.btn-dark.pt-2.btn-block {
	width: 100%;
}

.fc .fc-toolbar-title::first-letter {
	text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion::first-letter {
	text-transform: uppercase;
}

.fc .fc-timegrid-axis-cushion::first-letter {
	text-transform: uppercase;
}

.fc .fc-multimonth-title::first-letter {
	text-transform: uppercase;
}

.modal_container {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 100%;
	top:0;
	z-index: 999;
}

button.btn-close {
    background-color: #4267b2;
    right: 27px;
    position: absolute;
    opacity: 100;
    margin-top: 10px;
}

.fc-button-primary {
	background-color: #4267b2!important;
	border: none!important;;
}

.fc-button-primary:hover {
	background-color: #376edf!important;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
	display: none;
  }