<form action="{action}">
    <!-- BEGIN BLOCK_LINHA_FILTER -->
        <div class="col-md-12">
        <!-- BEGIN BLOCK_FILTER -->
            <div class="col-md-{tamanho_filter}">
                <!-- BEGIN BLOCK_INPUT -->
                    {filter}
                <!-- END BLOCK_INPUT -->
            </div>
        <!-- END BLOCK_FILTER -->
        </div>
    <!-- END BLOCK_LINHA_FILTER -->
    <!-- BEGIN BLOCK_BUTTON -->
        <div class="col-md-12">
            {button}
        </div>
    <!-- END BLOCK_BUTTON -->
</form>