<!DOCTYPE html>
<html lang="pt-br" height="100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Diogo Graciano Comin"> 
    <meta name="description" content="CalendarNow um sistema de agendamento para todos"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{caminho}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{caminho}assets/css/bootstrap-icons.css" rel="stylesheet">
    <link href="{caminho}assets/css/select2-bootstrap-5-theme.min.css" rel="stylesheet">
    <link href="{caminho}assets/css/select2.min.css" rel="stylesheet">
    <link href="{caminho}assets/css/gijgo.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{caminho}assets\imagens\favicon.png">
    <script src="{caminho}assets/js/bootstrap.bundle.min.js"></script>
    <script src="{caminho}assets/js/jquery.min.js"></script>
    <script src="{caminho}assets/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{caminho}assets/css/main.css">
    <script src="{caminho}assets/js/functions.js"></script>
    <script src="{caminho}assets/js/jquery.mask.min.js"></script>
    <script src="{caminho}assets/js/htmx.min.js"></script>
    <script src="{caminho}assets/js/gijgo.min.js"></script>
    <script src="{caminho}assets/js/messages.pt-br.min.js"></script>
    <!-- BEGIN BLOCK_GRAFICO -->
    <script src="{caminho}assets/js/chart.js"></script>
    <!-- END BLOCK_GRAFICO -->
    <!-- BEGIN BLOCK_AGENDA -->
    <script src='{caminho}assets/js/index.global.min.js'></script>
    <script src="{caminho}assets/js/bootstrap5/index.global.min.js"></script>
    <script src='{caminho}assets/js/core/locales-all.global.min.js'></script>
    <!-- END BLOCK_AGENDA -->
    <!-- BEGIN BLOCK_CONSULTA -->
    <script type="text/javascript" src="{caminho}assets/js/consulta.js"></script>
    <!-- END BLOCK_CONSULTA -->
    <title>{title}</title>
</head>
<body class="h-100">
<!-- BEGIN BLOCK_LOGO -->
    <div class="w-100 mt-5">
        <img class="w-100" src="{caminho}assets\imagens\{image}" alt="logo">
    </div>
 <!-- END BLOCK_LOGO -->  
