<nav aria-label="...">
    <ul class="pagination">
      <!-- BEGIN BLOCK_ANTERIOR -->
      <li class="page-item disabled">
        <a class="page-link">{link_anterior}</a>
      </li>
      <!-- END BLOCK_ANTERIOR -->
      <!-- BEGIN BLOCK_PAGINA -->
      <li class="page-item {class_page}" aria-current="page">
        <a class="page-link" href="{link_page}">{page}</a>
      </li>
      <!-- END BLOCK_PAGINA -->
      <!-- BEGIN BLOCK_PROXIMO -->
      <li class="page-item">
        <a class="page-link" href="#">{link_proximo}</a>
      </li>
      <!-- END BLOCK_PROXIMO -->
    </ul>
  </nav>